:root {
  --scrollbar-thumb-bg: rgba(18, 20, 23, 0.1);
  --scrollbar-track-bg: rgba(255, 255, 255, 1);

  /* Breakpoints */
  --mobile: 375px;
  --mobile-max: 767.98px;
  --tablet: 768px;
  --table-max: 1439.98px;
  --desktop: 1440px;

  /* Transition properties */
  --transition-time: 250ms;
  --transition-effect: cubic-bezier(0.4, 0, 0.2, 1);

  /* Backdrop */
  --background-color: rgba(0, 0, 0, 0.6);
  --background-light-pink: #ffecf1;
  /* Colors */
  --color-black: #262626;
  --color-pink: #ffa6c2;
  --color-pink-light: #ffcfdb;
  --color-snow: #fafafa;
  --color-white: #ffffff;
  --color-grey: #7d7a7a;
  --color-grey-light: #d9d9d9;
  --color-grey-lighter: #f7f7f7;
  --color-rose: #ffedf2;
  --color-wine: #3d0d17;
  --color-burgundy: #8a052e;
  --color-blue: #1a78bf;
  --color-blush: #ffe6ed;
  --dark-red: #3c0e18;

  /* Fonts */
  --primary-font-family: 'Gilroy', system-ui, sans-serif;
  --accent-font-family: 'Mulish', sans-serif;
}
